Repository caos/orbos, pull requests merged in 2020-10, with the labels that each got.

#358 Proxy protocol
  internal/operator/boom/api/v1beta2/apigateway.go
  internal/operator/boom/application/applications/ambassador/helm.go
  internal/operator/boom/application/applications/ambassador/helm/default.go
  internal/operator/boom/application/applications/ambassador/helm/values.go
  internal/operator/orbiter/kinds/loadbalancers/dynamic/adapt.go
  internal/operator/orbiter/kinds/loadbalancers/dynamic/current.go
  internal/operator/orbiter/kinds/loadbalancers/dynamic/desired.go
  internal/operator/orbiter/kinds/providers/gce/ensure.go
  internal/operator/orbiter/kinds/providers/static/ensure.go
Labels: BOOM, DynamicLoadBalancer, ORBITER, StaticProvider, enhancement

#388 fix(orbiter): parsing of yaml in reboot and replace commands
  internal/operator/orbiter/kinds/orb/machines.go
  internal/operator/orbiter/kinds/providers/gce/machine.go
Labels: ORBITER, bug

#397 fix(boom): fixed currentstate changes with systemd-exporter through m…
  internal/operator/boom/application/applications/prometheussystemdexporter/yaml/build.go
Labels: BOOM, bug

#407 fix(cockroach): version update to 20.1.8 from 20.1.7
  build/cr-backup/Dockerfile
  internal/operator/zitadel/kinds/databases/managed/adapt.go
  internal/operator/zitadel/kinds/iam/zitadel/migration/adapt.go
Labels: IAM Operator

#408 docs: fix loadbalancing pools in example
  examples/orbiter/static/orbiter.yml
Labels: DynamicLoadBalancer, ORBITER, documentation

#339 fix(orbos): changed default resource limits for tools
  internal/operator/boom/application/applications/kubestatemetrics/helm/default.go
  internal/operator/boom/application/applications/prometheus/helm/default.go
  internal/operator/boom/application/applications/prometheusoperator/helm/default.go
Labels: BOOM, enhancement

#413 docs: remove alpha warning
  README.md
Labels: documentation
