Repository caos/orbos, pull requests merged in 2020-11, with the labels that each got.

#363 ZITADEL metrics
  cmd/orbctl/cmds/deploy.go
  cmd/orbctl/cmds/takeoff.go
  dashboards/zitadel/json/health-details.json
  dashboards/zitadel/json/health.json
  dashboards/zitadel/json/replicas.json
  dashboards/zitadel/json/runtime.json
  dashboards/zitadel/json/sql.json
  dashboards/zitadel/json/storage.json
  dashboards/zitadel/kustomization.yaml
  internal/operator/boom/api/v1beta2/metricspersisting.go
  internal/operator/boom/application/applications/grafana/config/dashboards.go
  internal/operator/boom/application/applications/prometheus/config/metrics.go
  internal/operator/boom/application/applications/prometheus/helm.go
  internal/operator/boom/application/applications/prometheus/helm/rules.go
  internal/operator/boom/application/applications/prometheus/helm/values.go
  internal/operator/boom/application/applications/prometheus/servicemonitor/app.go
  internal/operator/boom/application/applications/zitadel/servicemonitor.go
  internal/operator/boom/cmd/reconcile.go
  internal/operator/boom/gitcrd/config/config.go
  internal/operator/boom/gitcrd/gitcrd.go
  internal/operator/boom/labels/labels.go
  internal/operator/boom/takeoff.go
  scripts/boom-debug.sh
  scripts/boom-init.sh
  scripts/boom.sh
Labels: BOOM, enhancement, question

#419 fix(boom): if applications are not defined no nil pointer
  internal/operator/boom/application/applications/argocd/helm.go
  internal/operator/boom/application/applications/prometheus/helm.go
  internal/operator/boom/application/applications/prometheussystemdexporter/yaml.go
Labels: BOOM, bug

#421 fix(boom): corrected handling of default proxyprotocol
  internal/operator/boom/api/v1beta2/apigateway.go
  internal/operator/boom/application/applications/ambassador/helm.go
Labels: BOOM, bug

#417 fix(orbiter): healthchecks with proxy protocol
  go.mod
  go.sum
  internal/helpers/check.go
  internal/operator/orbiter/kinds/loadbalancers/dynamic/adapt.go
Labels: DynamicLoadBalancer, ORBITER

#429 fix: healthchecks changed and ambassador module logic
  internal/operator/orbiter/kinds/loadbalancers/dynamic/adapt.go
  internal/operator/zitadel/kinds/iam/zitadel/ambassador/grpc/adapt.go
Labels: bug

#427 fix: stop failing if adding a yum repo fails
  internal/operator/nodeagent/dep/cri/ensure.go
  internal/operator/nodeagent/dep/k8s/common.go
  internal/operator/nodeagent/dep/package-manager.go
Labels: Node Agent, enhancement

#399 Offline k8s network yamls
  cmd/gen-executables/derived.gen.go
  cmd/gen-executables/main.go
  cmd/orbctl/api.go
  cmd/orbctl/configure.go
  cmd/orbctl/teardown.go
  internal/executables/build.go
  internal/executables/derived.gen.go
  internal/executables/runtime.go
  internal/operator/boom/cmd/reconcile.go
  internal/operator/orbiter/kinds/clusters/clusters.go
  internal/operator/orbiter/kinds/clusters/kubernetes/adapt.go
  internal/operator/orbiter/kinds/clusters/kubernetes/artifacts.go
  internal/operator/orbiter/kinds/clusters/kubernetes/desired.go
  internal/operator/orbiter/kinds/clusters/kubernetes/ensure.go
  internal/operator/orbiter/kinds/clusters/kubernetes/join.go
  internal/operator/orbiter/kinds/clusters/kubernetes/networks/calico.yaml
  internal/operator/orbiter/kinds/clusters/kubernetes/networks/cilium.yaml
  internal/operator/orbiter/kinds/clusters/kubernetes/query.go
  internal/operator/orbiter/kinds/clusters/kubernetes/upscale.go
  internal/operator/orbiter/kinds/orb/adapt.go
  internal/operator/orbiter/kinds/orb/machines.go
  internal/operator/orbiter/kinds/providers/core/nodeagent.go
  internal/operator/zitadel/cmd/reconcile.go
  internal/operator/zitadel/kinds/orb/adapt.go
  internal/operator/zitadel/kinds/orb/desired.go
  internal/secret/operators/operators.go
  internal/start/start.go
Labels: KubernetesCluster, ORBITER, enhancement

#452 Cloudscale
  go.mod
  go.sum
  internal/operator/nodeagent/dep/keepalived/dep.go
  internal/operator/orbiter/kinds/clusters/kubernetes/join.go
  internal/operator/orbiter/kinds/loadbalancers/dynamic/adapt.go
  internal/operator/orbiter/kinds/loadbalancers/dynamic/current.go
  internal/operator/orbiter/kinds/loadbalancers/dynamic/wrap/machinesservicelb.go
  internal/operator/orbiter/kinds/providers/cs/adapt.go
  internal/operator/orbiter/kinds/providers/cs/context.go
  internal/operator/orbiter/kinds/providers/cs/current.go
  internal/operator/orbiter/kinds/providers/cs/desired.go
  internal/operator/orbiter/kinds/providers/cs/destroy.go
  internal/operator/orbiter/kinds/providers/cs/ensure.go
  internal/operator/orbiter/kinds/providers/cs/floatingips.go
  internal/operator/orbiter/kinds/providers/cs/ingress.go
  internal/operator/orbiter/kinds/providers/cs/machine.go
  internal/operator/orbiter/kinds/providers/cs/machinesservice.go
  internal/operator/orbiter/kinds/providers/cs/machinesservice_test.go
  internal/operator/orbiter/kinds/providers/cs/pool.go
  internal/operator/orbiter/kinds/providers/cs/secrets.go
  internal/operator/orbiter/kinds/providers/cs/servers.go
  internal/operator/orbiter/kinds/providers/gce/ensure.go
  internal/operator/orbiter/kinds/providers/providers.go
  internal/operator/orbiter/kinds/providers/static/ensure.go
Labels: CloudscaleProvider, ORBITER, enhancement

#456 chore: apply per-customer dedicated grafana cloud api keys
  scripts/grafana-cloud.yml.sh
Labels: BOOM

#443 fix: include cockroach metrics in cluster ryg if job deployed
  dashboards/health/json/cluster-health.json
  internal/operator/boom/application/applications/prometheus/helm/rules.go
Labels: BOOM, enhancement

#470 fix: compile
  internal/operator/nodeagent/dep/nginx/dep.go
Labels: Node Agent, bug

#479 fix: stop failing if yum package is installed already
  internal/operator/nodeagent/dep/package-manager-install.go
Labels: Node Agent, bug

#478 fix: insist on specific nginx and keepalived versions
  cmd/gen-executables/main.go
  internal/operator/nodeagent/dep/keepalived/dep.go
  internal/operator/nodeagent/dep/nginx/dep.go
  internal/operator/nodeagent/dep/package-manager-install.go
  internal/operator/orbiter/kinds/loadbalancers/dynamic/adapt.go
Labels: DynamicLoadBalancer, Node Agent, ORBITER, bug, enhancement

#482 fix: check command stdout for already installed
  internal/operator/nodeagent/dep/package-manager-install.go
Labels: Node Agent, bug

#488 fix: remove yum update yum
  internal/operator/nodeagent/dep/package-manager-init.go
Labels: Node Agent, bug

#489 fix: use configured custom image registry for network images
  internal/operator/orbiter/kinds/clusters/kubernetes/join.go
  internal/operator/orbiter/kinds/clusters/kubernetes/networks/calico.yaml
  internal/operator/orbiter/kinds/clusters/kubernetes/networks/cilium.yaml
Labels: KubernetesCluster, ORBITER, bug
