Repository caos/orbos, pull requests merged in 2020-12, with the labels that each got.

#492 Open all external ports for for external interfaces, also for providers without hyperconverged loadbalancing
  internal/operator/orbiter/kinds/loadbalancers/dynamic/adapt.go
Labels: DynamicLoadBalancer, ORBITER, bug

#485 Consistent labels
  go.sum
  pkg/labels/api.go
  pkg/labels/api_test.go
  pkg/labels/common_test.go
  pkg/labels/component.go
  pkg/labels/component_test.go
  pkg/labels/labels.go
  pkg/labels/name.go
  pkg/labels/name_test.go
  pkg/labels/operator.go
  pkg/labels/operator_test.go
  pkg/labels/selectable.go
  pkg/labels/selectable_test.go
  pkg/labels/selector.go
  pkg/labels/selector_test.go
Labels: BOOM, KubernetesCluster, ORBITER, enhancement

#497 fix: enable gce healthchecks with proxy protocol
  cmd/health/check.go
  cmd/health/derived.gen.go
  cmd/health/main.go
  internal/helpers/check.go
  internal/operator/nodeagent/dep/health/dep.go
  internal/operator/orbiter/kinds/loadbalancers/dynamic/adapt.go
  internal/operator/orbiter/kinds/providers/gce/ensure.go
  internal/operator/orbiter/kinds/providers/gce/normalize.go
Labels: GCEProvider, ORBITER, bug

#505 fix(gce): add configurable zonal boot disktype
  internal/operator/orbiter/kinds/providers/gce/adapt.go
  internal/operator/orbiter/kinds/providers/gce/computesservice.go
  internal/operator/orbiter/kinds/providers/gce/desired.go
Labels: GCEProvider, ORBITER

#504 Persist Local SSD Mounts
  internal/operator/orbiter/kinds/providers/gce/computesservice.go
Labels: GCEProvider, ORBITER, bug

#506 fix: always ensure containerd version 1.4.3
  internal/operator/nodeagent/dep/cri/dep.go
  internal/operator/nodeagent/dep/cri/ensure.go
Labels: Node Agent, ORBITER, bug

#507 fix: write disk uuid to /etc/fstab
  internal/operator/orbiter/kinds/providers/gce/computesservice.go
Labels: GCEProvider, ORBITER, bug

#510 fix: don't reset firewall when desiring from loadbalancing
  internal/operator/orbiter/kinds/loadbalancers/dynamic/adapt.go
Labels: DynamicLoadBalancer, GCEProvider, ORBITER, bug

#522 fix: disallow adapters to disable kernel features
  internal/operator/common/nodeagent-model.go
Labels: DynamicLoadBalancer, KubernetesCluster, ORBITER, bug

#523 fix(orbctl): handle error correctly in secret commands
  internal/secret/rwsecret.go
Labels: bug

#530 fix(orbctl): change handling of errors in orbctl commands
  cmd/orbctl/api.go
  cmd/orbctl/backup.go
  cmd/orbctl/backuplist.go
  cmd/orbctl/configure.go
  cmd/orbctl/edit.go
  cmd/orbctl/exec.go
  cmd/orbctl/list.go
  cmd/orbctl/main.go
  cmd/orbctl/readsecret.go
  cmd/orbctl/reboot.go
  cmd/orbctl/replace.go
  cmd/orbctl/restore.go
  cmd/orbctl/root.go
  cmd/orbctl/takeoff.go
  cmd/orbctl/teardown.go
  cmd/orbctl/writesecret.go
  internal/api/api.go
  mntr/monitor.go
  mntr/sprint.go
  mntr/usecases.go
Labels: bug, enhancement

#552 fix: remove panic
  internal/api/api.go
Labels: bug

#555 fix: enable deploying boom without specifying it
  internal/operator/boom/cmd/reconcile.go
Labels: BOOM, bug

#554 Fix keepalived healthchecks
  internal/operator/orbiter/kinds/loadbalancers/dynamic/adapt.go
Labels: DynamicLoadBalancer, ORBITER, bug

#557 fix: always set firewalld zone target to ACCEPT
  examples/orbiter/static/kvm/machine.sh
  internal/operator/nodeagent/firewall/centos/centOS.go
  internal/operator/nodeagent/firewall/centos/sources.go
  internal/operator/nodeagent/firewall/centos/target.go
Labels: Node Agent, StaticProvider, bug
