Repository caos/orbos, pull requests merged in 2020-08, with the labels that each got.

#284 Sw reconciling bug
  internal/operator/common/nodeagent-model.go
  internal/operator/orbiter/kinds/clusters/kubernetes/client.go
  internal/operator/orbiter/kinds/clusters/kubernetes/initialize.go
  internal/operator/orbiter/kinds/clusters/kubernetes/software.go
  internal/operator/orbiter/kinds/clusters/kubernetes/upgrade.go
Labels: KubernetesCluster, Node Agent, ORBITER, bug

#285 fix(ambassador): disabling of dev portal
  internal/operator/boom/api/v1beta1/ambassador.go
  internal/operator/boom/api/v1beta2/apigateway.go
  internal/operator/boom/application/applications/ambassador/helm.go
  internal/operator/boom/application/applications/ambassador/helm/default.go
  internal/operator/boom/application/applications/ambassador/helm/helm.go
  internal/operator/boom/application/applications/ambassador/helm/values.go
Labels: BOOM, enhancement

#277 Cmd/reboot
  cmd/orbctl/exec.go
  cmd/orbctl/machines.go
  cmd/orbctl/main.go
  cmd/orbctl/reboot.go
  go.mod
  go.sum
  internal/api/api.go
  internal/operator/common/nodeagent-model.go
  internal/operator/nodeagent/ensure.go
  internal/operator/orbiter/kinds/clusters/core/infra/provider.go
  internal/operator/orbiter/kinds/clusters/kubernetes/adapt.go
  internal/operator/orbiter/kinds/clusters/kubernetes/artifacts.go
  internal/operator/orbiter/kinds/clusters/kubernetes/client.go
  internal/operator/orbiter/kinds/clusters/kubernetes/current.go
  internal/operator/orbiter/kinds/clusters/kubernetes/drainreason_string.go
  internal/operator/orbiter/kinds/clusters/kubernetes/ensure.go
  internal/operator/orbiter/kinds/clusters/kubernetes/initialize.go
  internal/operator/orbiter/kinds/clusters/kubernetes/join.go
  internal/operator/orbiter/kinds/clusters/kubernetes/nodes.go
  internal/operator/orbiter/kinds/clusters/kubernetes/pool.go
  internal/operator/orbiter/kinds/clusters/kubernetes/query.go
  internal/operator/orbiter/kinds/clusters/kubernetes/scale.go
  internal/operator/orbiter/kinds/clusters/kubernetes/software.go
  internal/operator/orbiter/kinds/clusters/kubernetes/upgrade.go
  internal/operator/orbiter/kinds/orb/adapt.go
  internal/operator/orbiter/kinds/orb/machines.go
  internal/operator/orbiter/kinds/providers/gce/adapt.go
  internal/operator/orbiter/kinds/providers/gce/computesservice.go
  internal/operator/orbiter/kinds/providers/gce/desired.go
  internal/operator/orbiter/kinds/providers/gce/ensure.go
  internal/operator/orbiter/kinds/providers/gce/machine.go
  internal/operator/orbiter/kinds/providers/providers.go
  internal/operator/orbiter/kinds/providers/static/adapt.go
  internal/operator/orbiter/kinds/providers/static/computesservice.go
  internal/operator/orbiter/kinds/providers/static/desired.go
  internal/operator/orbiter/kinds/providers/static/ensure.go
  internal/operator/orbiter/kinds/providers/static/machine.go
  internal/operator/orbiter/takeoff.go
  internal/secret/rwsecret.go
Labels: ORBITER, enhancement

#294 Prom rules
  internal/operator/boom/application/applications/prometheus/helm/rules.go
  internal/operator/boom/application/applications/prometheussystemdexporter/metrics/servicemonitor.go
  scripts/grafana-cloud.yml.sh
Labels: BOOM

#300 fix(boom): added remote-write relabel-configs and external IDs for pr…
  docs/boom/yml/v1beta1/Ambassador.md
  docs/boom/yml/v1beta1/RelabelConfig.md
  docs/boom/yml/v1beta1/RemoteWrite.md
  docs/boom/yml/v1beta1/argocd/auth/github/secret/Existing.md
  docs/boom/yml/v1beta1/argocd/auth/github/secret/Secret.md
  docs/boom/yml/v1beta1/argocd/auth/gitlab/secret/Existing.md
  docs/boom/yml/v1beta1/argocd/auth/gitlab/secret/Secret.md
  docs/boom/yml/v1beta1/argocd/auth/google/secret/Existing.md
  docs/boom/yml/v1beta1/argocd/auth/google/secret/Secret.md
  docs/boom/yml/v1beta1/argocd/auth/oidc/secret/Existing.md
  docs/boom/yml/v1beta1/argocd/auth/oidc/secret/Secret.md
  docs/boom/yml/v1beta1/argocd/repository/secret/Existing.md
  docs/boom/yml/v1beta1/argocd/repository/secret/Secret.md
  docs/boom/yml/v1beta1/argocd/secret/Existing.md
  docs/boom/yml/v1beta1/argocd/secret/Secret.md
  docs/boom/yml/v1beta1/grafana/admin/secret/ExistingIDSecret.md
  docs/boom/yml/v1beta1/grafana/admin/secret/Secret.md
  docs/boom/yml/v1beta1/grafana/auth/Generic/secret/Existing.md
  docs/boom/yml/v1beta1/grafana/auth/Generic/secret/Secret.md
  docs/boom/yml/v1beta1/grafana/auth/Github/secret/Existing.md
  docs/boom/yml/v1beta1/grafana/auth/Github/secret/Secret.md
  docs/boom/yml/v1beta1/grafana/auth/Gitlab/secret/Existing.md
  docs/boom/yml/v1beta1/grafana/auth/Gitlab/secret/Secret.md
  docs/boom/yml/v1beta1/grafana/auth/Google/secret/Existing.md
  docs/boom/yml/v1beta1/grafana/auth/Google/secret/Secret.md
  docs/boom/yml/v1beta2/APIGateway.md
  docs/boom/yml/v1beta2/MetricsPersisting.md
  docs/boom/yml/v1beta2/RelabelConfig.md
  docs/boom/yml/v1beta2/RemoteWrite.md
  docs/boom/yml/v1beta2/monitoring/admin/secret/ExistingIDSecret.md
  docs/boom/yml/v1beta2/monitoring/admin/secret/Secret.md
  docs/boom/yml/v1beta2/monitoring/auth/Generic/secret/Existing.md
  docs/boom/yml/v1beta2/monitoring/auth/Generic/secret/Secret.md
  docs/boom/yml/v1beta2/monitoring/auth/Github/secret/Existing.md
  docs/boom/yml/v1beta2/monitoring/auth/Github/secret/Secret.md
  docs/boom/yml/v1beta2/monitoring/auth/Gitlab/secret/Existing.md
  docs/boom/yml/v1beta2/monitoring/auth/Gitlab/secret/Secret.md
  docs/boom/yml/v1beta2/monitoring/auth/Google/secret/Existing.md
  docs/boom/yml/v1beta2/monitoring/auth/Google/secret/Secret.md
  docs/boom/yml/v1beta2/reconciling/auth/github/secret/Existing.md
  docs/boom/yml/v1beta2/reconciling/auth/github/secret/Secret.md
  docs/boom/yml/v1beta2/reconciling/auth/gitlab/secret/Existing.md
  docs/boom/yml/v1beta2/reconciling/auth/gitlab/secret/Secret.md
  docs/boom/yml/v1beta2/reconciling/auth/google/secret/Existing.md
  docs/boom/yml/v1beta2/reconciling/auth/google/secret/Secret.md
  docs/boom/yml/v1beta2/reconciling/auth/oidc/secret/Existing.md
  docs/boom/yml/v1beta2/reconciling/auth/oidc/secret/Secret.md
  docs/boom/yml/v1beta2/reconciling/repository/secret/Existing.md
  docs/boom/yml/v1beta2/reconciling/repository/secret/Secret.md
  docs/boom/yml/v1beta2/reconciling/secret/Existing.md
  docs/boom/yml/v1beta2/reconciling/secret/Secret.md
  docs/boom/yml/v1beta2/storage/Spec.md
  internal/operator/boom/api/v1beta1/prometheus.go
  internal/operator/boom/api/v1beta2/metricspersisting.go
  internal/operator/boom/application/applications/prometheus/helm.go
  internal/operator/boom/application/applications/prometheus/helm/values.go
Labels: BOOM, enhancement

#299 fix: make ips unambiguous, recover from misconfiguration
  internal/operator/orbiter/kinds/providers/gce/forwardingrules.go
  internal/operator/orbiter/kinds/providers/gce/normalize.go
Labels: DynamicLoadBalancer, GCEProvider, ORBITER, bug

#302 docs: refresh example yamls
  examples/orbiter/gce/orbiter.yml
  examples/orbiter/static/orbiter.yml
Labels: DynamicLoadBalancer, GCEProvider, ORBITER, StaticProvider, documentation

#303 docs: add vips
  examples/orbiter/static/orbiter.yml
Labels: DynamicLoadBalancer, ORBITER, StaticProvider, documentation

#304 fix: stop rebooting automatically
  internal/operator/nodeagent/dep/package-manager-init.go
  internal/operator/orbiter/kinds/clusters/kubernetes/nodes.go
  internal/operator/orbiter/kinds/providers/static/computesservice.go
Labels: ORBITER, StaticProvider, bug
