Repository caos/orbos, pull requests merged in 2020-09, with the labels that each got.

#324 Make calico work on StaticProvider
  internal/operator/orbiter/kinds/providers/static/desired.go
  internal/operator/orbiter/kinds/providers/static/hostname.go
Labels: KubernetesCluster, ORBITER, StaticProvider, bug

#326 fix: fixed memory leak
  internal/operator/orbiter/kinds/providers/gce/adapt.go
  internal/operator/orbiter/kinds/providers/gce/context.go
Labels: bug

#325 perf: improve node-agent performance
  internal/operator/nodeagent/dep/package-manager-init.go
  internal/operator/nodeagent/dep/package-manager-install.go
  internal/operator/nodeagent/dep/package-manager-installed.go
  internal/operator/nodeagent/dep/systemd.go
  internal/operator/nodeagent/firewall/centOS.go
Labels: Node Agent, enhancement

#334 fix: only use ssh keys if connections needed
  internal/operator/orbiter/kinds/providers/gce/adapt.go
  internal/operator/orbiter/kinds/providers/gce/computesservice.go
  internal/operator/orbiter/kinds/providers/gce/context.go
  scripts/boom-debug.sh
Labels: GCEProvider, ORBITER, bug
