Repository caos/orbos, pull requests merged in 2020-06, with the labels that each got.

#177 fix(boom): reconciling of boom version
  cmd/orbctl/takeoff.go
  docs/boom/crd.md
  internal/git/git.go
  internal/operator/boom/api/v1beta1/toolset_types.go
  internal/operator/boom/cmd/reconcile.go
  internal/operator/boom/gitcrd/v1beta1/gitcrd.go
  internal/operator/boom/takeoff.go
  internal/operator/orbiter/kinds/clusters/kubernetes/artifacts.go
  internal/operator/orbiter/kinds/clusters/kubernetes/client.go
  internal/start/start.go
Labels: BOOM

#185 feat(orbctl): added config command and several additional features to takeoff and teardown
  cmd/orbctl/config.go
  cmd/orbctl/edit.go
  cmd/orbctl/main.go
  cmd/orbctl/readsecret.go
  cmd/orbctl/root.go
  cmd/orbctl/takeoff.go
  cmd/orbctl/teardown.go
  cmd/orbctl/writesecret.go
  docs/boom/crd.md
  examples/k8s/static/virt-install/kickstart.cfg
  examples/k8s/static/virt-install/machine.sh
  examples/k8s/static/virt-install/orbiter.yml
  examples/k8s/static/virtualbox/downloadImage.sh
  examples/k8s/static/virtualbox/exampleClusterPostSteps.sh
  examples/k8s/static/virtualbox/exampleClusterStart.sh
  examples/k8s/static/virtualbox/ks.cfg
  examples/k8s/static/virtualbox/machine.sh
  examples/k8s/static/virtualbox/poststepps.sh
  go.mod
  go.sum
  internal/executables/build.go
  internal/helpers/check.go
  internal/operator/boom/api/api.go
  internal/operator/boom/api/v1beta1/toolset_types.go
  internal/operator/orbiter/config.go
  internal/operator/orbiter/kinds/clusters/clusters.go
  internal/operator/orbiter/kinds/clusters/kubernetes/adapt.go
  internal/operator/orbiter/kinds/clusters/kubernetes/artifacts.go
  internal/operator/orbiter/kinds/clusters/kubernetes/desired.go
  internal/operator/orbiter/kinds/clusters/kubernetes/ensure.go
  internal/operator/orbiter/kinds/clusters/kubernetes/join.go
  internal/operator/orbiter/kinds/clusters/kubernetes/query.go
  internal/operator/orbiter/kinds/clusters/kubernetes/scale.go
  internal/operator/orbiter/kinds/clusters/kubernetes/secrets.go
  internal/operator/orbiter/kinds/loadbalancers/dynamic/secrets.go
  internal/operator/orbiter/kinds/loadbalancers/loadbalancers.go
  internal/operator/orbiter/kinds/orb/secrets.go
  internal/operator/orbiter/kinds/providers/providers.go
  internal/operator/orbiter/kinds/providers/static/desired.go
  internal/operator/orbiter/kinds/providers/static/ensure.go
  internal/operator/orbiter/kinds/providers/static/secrets.go
  internal/operator/orbiter/kinds/providers/static/ssh/key.go
  internal/operator/orbiter/takeoff.go
  internal/operator/secretfuncs/secretFuncs.go
  internal/orb/orb.go
  internal/secret/rwsecret.go
  internal/ssh/ssh.go
  internal/start/start.go
  internal/stores/github/github.go
  internal/utils/orbgit/orbgit.go
Labels: BOOM, ORBITER, enhancement

#200 fix(boom): added kustomize possiblity for pre- and postapply inclusiv…
  internal/operator/boom/api/v1beta1/apply.go
  internal/operator/boom/api/v1beta1/postapply.go
  internal/operator/boom/api/v1beta1/toolset_types.go
  internal/operator/boom/application/applications/grafana/helm.go
  internal/operator/boom/application/applications/grafanastandalone/app.go
  internal/operator/boom/desired/desired.go
  internal/operator/boom/gitcrd/v1beta1/gitcrd.go
  internal/operator/boom/takeoff.go
  internal/operator/orbiter/kinds/clusters/kubernetes/adapt.go
  internal/operator/orbiter/kinds/clusters/kubernetes/client.go
  internal/utils/kubectl/apply.go
  internal/utils/kustomize/kustomize.go
Labels: BOOM, enhancement

#187 fix(boom): grafana plugins add through boom.yml
  internal/operator/boom/api/v1beta1/grafana/grafana.go
  internal/operator/boom/application/applications/grafana/helm.go
Labels: BOOM, enhancement

#225 fix(boom): corrected self-reconciling of boom
  cmd/orbctl/takeoff.go
  internal/operator/boom/application/applications/argocd/config/auth/auth.go
  internal/operator/boom/application/applications/argocd/config/auth/github.go
  internal/operator/boom/application/applications/argocd/config/auth/gitlab.go
  internal/operator/boom/application/applications/argocd/config/auth/google.go
  internal/operator/boom/application/applications/argocd/config/auth/oidc.go
  internal/operator/boom/application/applications/argocd/config/config.go
  internal/operator/boom/application/applications/grafana/admin/admin.go
  internal/operator/boom/application/applications/grafana/auth/generic_oauth.go
  internal/operator/boom/application/applications/grafana/auth/github.go
  internal/operator/boom/application/applications/grafana/auth/gitlab.go
  internal/operator/boom/application/applications/grafana/auth/google.go
  internal/operator/boom/application/applications/grafana/helm.go
  internal/operator/boom/gitcrd/v1beta1/gitcrd.go
Labels: BOOM, bug

#208 chore(deps): upgrade currents deps
  go.mod
  go.sum
  internal/operator/orbiter/kinds/clusters/kubernetes/client.go
  internal/utils/clientgo/resource.go
  internal/utils/clientgo/secret.go
Labels: BOOM, ORBITER, dependencies

#238 fix: optimized caos metrics
  internal/operator/boom/application/applications/prometheus/helm/rules.go
Labels: BOOM, enhancement

#240 Make it fast and cheap
  cmd/nodeagent/main.go
  internal/helpers/errors.go
  internal/helpers/fanout.go
  internal/operator/boom/application/applications/argocd/config/credential/credential.go
  internal/operator/boom/application/applications/argocd/config/repository/repository.go
  internal/operator/common/nodeagent-model.go
  internal/operator/nodeagent/dep/conv/converter.go
  internal/operator/nodeagent/dep/cri/dep.go
  internal/operator/nodeagent/dep/package-manager-init.go
  internal/operator/nodeagent/dep/package-manager.go
  internal/operator/nodeagent/dep/sysctl/dep.go
  internal/operator/nodeagent/ensure.go
  internal/operator/nodeagent/firewall/centOS.go
  internal/operator/nodeagent/iterator.go
  internal/operator/orbiter/kinds/clusters/kubernetes/adapt.go
  internal/operator/orbiter/kinds/clusters/kubernetes/current.go
  internal/operator/orbiter/kinds/clusters/kubernetes/firewall.go
  internal/operator/orbiter/kinds/clusters/kubernetes/initialize.go
  internal/operator/orbiter/kinds/clusters/kubernetes/join.go
  internal/operator/orbiter/kinds/clusters/kubernetes/pool.go
  internal/operator/orbiter/kinds/clusters/kubernetes/query.go
  internal/operator/orbiter/kinds/clusters/kubernetes/scale.go
  internal/operator/orbiter/kinds/clusters/kubernetes/software.go
  internal/operator/orbiter/kinds/loadbalancers/dynamic/adapt.go
  internal/operator/orbiter/kinds/loadbalancers/dynamic/wrap/machinesservicelb.go
  internal/operator/orbiter/kinds/orb/adapt.go
  internal/operator/orbiter/kinds/providers/core/nodeagent.go
  internal/operator/orbiter/kinds/providers/gce/adapt.go
  internal/operator/orbiter/kinds/providers/gce/computesservice.go
  internal/operator/orbiter/kinds/providers/gce/context.go
  internal/operator/orbiter/kinds/providers/gce/desired.go
  internal/operator/orbiter/kinds/providers/gce/destroy.go
  internal/operator/orbiter/kinds/providers/gce/ensure.go
  internal/operator/orbiter/kinds/providers/gce/gcemachine.go
  internal/operator/orbiter/kinds/providers/gce/machine.go
  internal/operator/orbiter/kinds/providers/gce/normalize.go
  internal/operator/orbiter/kinds/providers/providers.go
  internal/operator/orbiter/kinds/providers/static/adapt.go
  internal/operator/orbiter/kinds/providers/static/ensure.go
  internal/operator/orbiter/kinds/providers/static/hostname.go
  internal/operator/orbiter/takeoff.go
  scripts/run.sh
Labels: GCEProvider

#241 Use a dedicated VPC and Cloud NAT router per Orb
  cmd/gen-executables/main.go
  internal/operator/nodeagent/dep/package-manager-init.go
  internal/operator/orbiter/kinds/clusters/kubernetes/current.go
  internal/operator/orbiter/kinds/clusters/kubernetes/initialize.go
  internal/operator/orbiter/kinds/clusters/kubernetes/scale.go
  internal/operator/orbiter/kinds/providers/gce/cloudnat.go
  internal/operator/orbiter/kinds/providers/gce/computesservice.go
  internal/operator/orbiter/kinds/providers/gce/context.go
  internal/operator/orbiter/kinds/providers/gce/destroy.go
  internal/operator/orbiter/kinds/providers/gce/ensure.go
  internal/operator/orbiter/kinds/providers/gce/firewall.go
  internal/operator/orbiter/kinds/providers/gce/forwardingrules.go
  internal/operator/orbiter/kinds/providers/gce/normalize.go
  internal/operator/orbiter/kinds/providers/providers.go
  scripts/debug.sh
  scripts/releases-dev.sh
  scripts/run.sh
Labels: GCEProvider, ORBITER, enhancement
