Repository caos/orbos, pull requests merged in 2021-01, with the labels that each got.

#567 Fix zitadedb servicemonitor
  internal/operator/boom/application/applications/zitadel/servicemonitor.go
  internal/operator/database/kinds/databases/managed/adapt.go
  internal/operator/database/kinds/databases/managed/services/adapt.go
  internal/operator/database/kinds/databases/managed/statefulset/adapt.go
  pkg/kubernetes/resources/service/service.go
  pkg/labels/selector.go
Labels: BOOM, Database Operator, bug

#569 fix: require databases to run on different nodes
  internal/operator/database/kinds/databases/managed/statefulset/adapt.go
Labels: Database Operator, enhancement

#571 fix: check for missing gce secrets
  internal/operator/orbiter/kinds/providers/cs/adapt.go
  internal/operator/orbiter/kinds/providers/cs/desired.go
  internal/operator/orbiter/kinds/providers/gce/adapt.go
  internal/operator/orbiter/kinds/providers/gce/desired.go
  internal/operator/orbiter/kinds/providers/static/adapt.go
  internal/operator/orbiter/kinds/providers/static/desired.go
Labels: CloudscaleProvider, GCEProvider, StaticProvider, documentation

#574 fix: configuring an orb requires provider vm access
  internal/operator/orbiter/kinds/providers/cs/adapt.go
  internal/operator/orbiter/kinds/providers/cs/desired.go
  internal/operator/orbiter/kinds/providers/gce/adapt.go
  internal/operator/orbiter/kinds/providers/gce/desired.go
Labels: CloudscaleProvider, GCEProvider, documentation

#483 fix(nodeagent): remove of interfaces before adding in firewalld
  internal/operator/nodeagent/firewall/centos/centOS.go
  internal/operator/nodeagent/firewall/centos/interfaces.go
Labels: Node Agent, bug

#556 test: test with new health binary arguments
  internal/operator/nodeagent/dep/health/dep_test.go
Labels: Node Agent

#589 fix(orbctl): corrected handling for backup serviceaccount
  internal/operator/zitadel/kinds/backups/bucket/adapt.go
Labels: bug

#594 Help the user if creating instance fails
  internal/operator/orbiter/kinds/providers/gce/gceapi.go
Labels: GCEProvider, ORBITER, documentation

#592 Idempotent Node Agent desires
  internal/operator/common/nodeagent-model.go
  internal/operator/nodeagent/dep/sysctl/dep.go
  internal/operator/orbiter/kinds/clusters/kubernetes/ensure.go
  internal/operator/orbiter/kinds/clusters/kubernetes/initialize.go
  internal/operator/orbiter/kinds/clusters/kubernetes/software.go
  internal/operator/orbiter/kinds/loadbalancers/dynamic/adapt.go
  internal/operator/orbiter/kinds/providers/gce/ensure.go
  internal/operator/orbiter/takeoff.go
Labels: ORBITER, bug
