Repository caos/orbos, pull requests merged in 2021-07, with the labels that each got.

#745 fix: only drain existing nodes
  internal/operator/orbiter/kinds/clusters/kubernetes/downscale.go
Labels: KubernetesCluster, ORBITER, bug

#756 fix(orbiter): correct handling of orbconfig if no gitops is used
  cmd/orbctl/cmds/takeoff.go
Labels: BOOM, Networking Operator, ORBITER, bug

#790 fix: rename flag --disable-ingestion to --disable-analytics
  README.md
  cmd/orbctl/root.go
  internal/operator/boom/application/applications/metricspersisting/helm.go
  mntr/monitor.go
  pkg/kubernetes/boom.go
  pkg/kubernetes/networking.go
  pkg/kubernetes/orbiter.go
Labels: BOOM, Networking Operator, ORBITER, design

#791 fix: return unsuccessful code on failure
  cmd/orbctl/root.go
Labels: bug

#794 fix: return 1 on CLI misusage
  cmd/orbctl/main.go
Labels: bug

#719 feat(orbiter): add functionality to use vms over different zones
  internal/operator/orbiter/kinds/clusters/core/infra/provider.go
  internal/operator/orbiter/kinds/clusters/kubernetes/initialize.go
  internal/operator/orbiter/kinds/clusters/kubernetes/join.go
  internal/operator/orbiter/kinds/clusters/kubernetes/pool.go
  internal/operator/orbiter/kinds/clusters/kubernetes/upscale.go
  internal/operator/orbiter/kinds/loadbalancers/dynamic/adapt.go
  internal/operator/orbiter/kinds/loadbalancers/dynamic/wrap/machinesservicelb.go
  internal/operator/orbiter/kinds/providers/core/firewall.go
  internal/operator/orbiter/kinds/providers/core/networking.go
  internal/operator/orbiter/kinds/providers/core/pool.go
  internal/operator/orbiter/kinds/providers/cs/ingress.go
  internal/operator/orbiter/kinds/providers/cs/machinesservice.go
  internal/operator/orbiter/kinds/providers/cs/pool.go
  internal/operator/orbiter/kinds/providers/gce/computesservice.go
  internal/operator/orbiter/kinds/providers/gce/current.go
  internal/operator/orbiter/kinds/providers/gce/desired.go
  internal/operator/orbiter/kinds/providers/gce/destroy.go
  internal/operator/orbiter/kinds/providers/gce/gcemachine.go
  internal/operator/orbiter/kinds/providers/gce/kubernetes_gce.yaml
  internal/operator/orbiter/kinds/providers/gce/machine.go
  internal/operator/orbiter/kinds/providers/gce/pool.go
  internal/operator/orbiter/kinds/providers/ssh/machine.go
  internal/operator/orbiter/kinds/providers/static/computesservice.go
  internal/operator/orbiter/kinds/providers/static/pool.go
  scripts/orbctl-debug.sh
Labels: GCEProvider, KubernetesCluster, ORBITER, enhancement
