Repository caos/orbos, pull requests merged in 2021-04, with the labels that each got.

#681 fix: update example boom.yml
  README.md
  examples/boom/boom.yml
  examples/orbiter/gce/orbiter.yml
  examples/orbiter/static/orbiter.yml
Labels: BOOM

#691 fix: internalize package updates
  cmd/nodeagent/main.go
  internal/operator/nodeagent/dep/conv/converter.go
  internal/operator/nodeagent/dep/package-manager-init.go
  internal/operator/nodeagent/dep/package-manager.go
  internal/operator/nodeagent/iterator.go
Labels: Node Agent, bug

#646 feat(boom) possibilty to overwrite image versions and add parameters to argo deployments
  docs/boom/yml/latest/ToolsetSpec/APIGateway/APIGateway.md
  docs/boom/yml/latest/ToolsetSpec/Boom/Boom.md
  docs/boom/yml/latest/ToolsetSpec/KubeMetricsExporter/KubeMetricsExporter.md
  docs/boom/yml/latest/ToolsetSpec/LogCollection/Fluentd/Fluentd.md
  docs/boom/yml/latest/ToolsetSpec/LogCollection/LogCollection.md
  docs/boom/yml/latest/ToolsetSpec/LogsPersisting/Logs/Logs.md
  docs/boom/yml/latest/ToolsetSpec/LogsPersisting/LogsPersisting.md
  docs/boom/yml/latest/ToolsetSpec/MetricCollection/MetricCollection.md
  docs/boom/yml/latest/ToolsetSpec/MetricsPersisting/Metrics/Metrics.md
  docs/boom/yml/latest/ToolsetSpec/MetricsPersisting/MetricsPersisting.md
  docs/boom/yml/latest/ToolsetSpec/MetricsServer/MetricsServer.md
  docs/boom/yml/latest/ToolsetSpec/NodeMetricsExporter/NodeMetricsExporter.md
  docs/boom/yml/latest/ToolsetSpec/SystemdMetricsExporter/SystemdMetricsExporter.md
  docs/boom/yml/latest/ToolsetSpec/monitoring/Monitoring/Monitoring.md
  docs/boom/yml/latest/ToolsetSpec/reconciling/Reconciling/AdditionalParameters/AdditionalParameters.md
  docs/boom/yml/latest/ToolsetSpec/reconciling/Reconciling/Reconciling.md
  internal/operator/boom/api/latest/apigateway.go
  internal/operator/boom/api/latest/funcs.go
  internal/operator/boom/api/latest/kubemetricsexporter.go
  internal/operator/boom/api/latest/logcollection.go
  internal/operator/boom/api/latest/logspersisting.go
  internal/operator/boom/api/latest/metriccollection.go
  internal/operator/boom/api/latest/metrics-server.go
  internal/operator/boom/api/latest/metricspersisting.go
  internal/operator/boom/api/latest/monitoring/admin/admin.go
  internal/operator/boom/api/latest/monitoring/monitoring.go
  internal/operator/boom/api/latest/nodemetricsexporter.go
  internal/operator/boom/api/latest/reconciling/reconciling.go
  internal/operator/boom/api/latest/systemdmetricsexporter.go
  internal/operator/boom/api/migrate/grafana/v1beta1tov1beta2.go
  internal/operator/boom/application/applications/ambassador/helm.go
  internal/operator/boom/application/applications/ambassador/helm/default.go
  internal/operator/boom/application/applications/argocd/helm.go
  internal/operator/boom/application/applications/argocd/helm/default.go
  internal/operator/boom/application/applications/argocd/helm/values.go
  internal/operator/boom/application/applications/grafana/admin/admin.go
  internal/operator/boom/application/applications/grafana/helm.go
  internal/operator/boom/application/applications/grafana/helm/default.go
  internal/operator/boom/application/applications/grafana/helm/values.go
  internal/operator/boom/application/applications/kubestatemetrics/helm.go
  internal/operator/boom/application/applications/kubestatemetrics/helm/default.go
  internal/operator/boom/application/applications/loggingoperator/helm.go
  internal/operator/boom/application/applications/loggingoperator/helm/default.go
  internal/operator/boom/application/applications/loki/helm.go
  internal/operator/boom/application/applications/loki/helm/default.go
  internal/operator/boom/application/applications/metricsserver/helm.go
  internal/operator/boom/application/applications/metricsserver/helm/default.go
  internal/operator/boom/application/applications/prometheus/helm.go
  internal/operator/boom/application/applications/prometheus/helm/default.go
  internal/operator/boom/application/applications/prometheusnodeexporter/helm.go
  internal/operator/boom/application/applications/prometheusnodeexporter/helm/default.go
  internal/operator/boom/application/applications/prometheusoperator/helm.go
  internal/operator/boom/application/applications/prometheusoperator/helm/default.go
  internal/utils/helper/map.go
  pkg/helper/secret.go
Labels: enhancement

#705 Race conditions
  cmd/networking-debug/main.go
  cmd/orbctl/cmds/deploy.go
  cmd/orbctl/cmds/takeoff.go
  cmd/orbctl/configure.go
  cmd/orbctl/readsecret.go
  cmd/orbctl/writesecret.go
  internal/operator/orbiter/kinds/clusters/kubernetes/upscale.go
  internal/operator/orbiter/kinds/providers/gce/targetpools.go
  pkg/kubernetes/cli/client.go
Labels: KubernetesCluster, ORBITER, bug

#696 fix: avoid host generation counting up when apply is called
  pkg/kubernetes/resources/ambassador/host/adapt.go
  pkg/kubernetes/resources/ambassador/host/adapt_test.go
Labels: bug

#704 fix: remove yum-cron if installed
  internal/operator/nodeagent/dep/conv/converter.go
  internal/operator/nodeagent/dep/cri/dep.go
  internal/operator/nodeagent/dep/cri/ensure.go
  internal/operator/nodeagent/dep/k8s/common.go
  internal/operator/nodeagent/dep/keepalived/dep.go
  internal/operator/nodeagent/dep/nginx/dep.go
  internal/operator/nodeagent/dep/package-manager.go
Labels: Node Agent, enhancement
