Repository caos/orbos, pull requests merged in 2021-03, with the labels that each got.

#637 fix: avoid errors from k8s implicitly lowercasing node names
  internal/operator/orbiter/kinds/providers/static/desired.go
  internal/operator/orbiter/kinds/providers/static/desired_test.go
  pkg/kubernetes/k8s/name.go
Labels: KubernetesCluster, ORBITER, StaticProvider, bug

#638 fix: use a VIPs last part as its Keepalived virtual_router_id
  internal/operator/orbiter/kinds/loadbalancers/dynamic/adapt.go
Labels: ORBITER, StaticProvider, enhancement

#640 fix: install nodes concurrently on static provider takeoff
  internal/operator/orbiter/kinds/providers/static/computesservice.go
Labels: ORBITER, StaticProvider, bug

#639 fix(nodeagent): memory leak, pprof inclusion and eliminating unnecessary goroutines
  cmd/nodeagent/main.go
  cmd/orbctl/takeoff.go
  go.mod
  go.sum
  internal/executables/targz.go
  internal/operator/common/nodeagent-model.go
  internal/operator/nodeagent/dep/conv/converter.go
  internal/operator/nodeagent/firewall/centos/centOS.go
  internal/operator/nodeagent/firewall/centos/ports.go
  internal/operator/nodeagent/firewall/firewall.go
  internal/operator/nodeagent/iterator.go
  internal/operator/nodeagent/networking/centos/centOS.go
  internal/operator/orbiter/adapt.go
  internal/operator/orbiter/destroy.go
  internal/operator/orbiter/kinds/clusters/clusters.go
  internal/operator/orbiter/kinds/clusters/kubernetes/adapt.go
  internal/operator/orbiter/kinds/clusters/kubernetes/join.go
  internal/operator/orbiter/kinds/loadbalancers/loadbalancers.go
  internal/operator/orbiter/kinds/orb/adapt.go
  internal/operator/orbiter/kinds/orb/desired.go
  internal/operator/orbiter/kinds/orb/machines.go
  internal/operator/orbiter/kinds/providers/core/nodeagent.go
  internal/operator/orbiter/kinds/providers/cs/adapt.go
  internal/operator/orbiter/kinds/providers/cs/machinesservice.go
  internal/operator/orbiter/kinds/providers/gce/adapt.go
  internal/operator/orbiter/kinds/providers/gce/computesservice.go
  internal/operator/orbiter/kinds/providers/gce/pool.go
  internal/operator/orbiter/kinds/providers/providers.go
  internal/operator/orbiter/kinds/providers/ssh/machine.go
  internal/operator/orbiter/kinds/providers/static/adapt.go
  internal/operator/orbiter/kinds/providers/static/computesservice.go
  internal/operator/orbiter/takeoff.go
  internal/ssh/ssh.go
  internal/start/boom.go
  internal/start/networking.go
  internal/start/orbiter.go
  pkg/git/git.go
  pkg/kubernetes/artifacts.go
  pkg/kubernetes/resources/ambassador/host/adapt.go
  pkg/kubernetes/resources/ambassador/module/adapt.go
  scripts/cs_get_pprof_profile_from_na.sh
  scripts/gce_get_pprof_profile_from_na.sh
Labels: bug, enhancement

#656 Adds read and write capabilities for existing secrets and for CRD mode
  cmd/orbctl/api.go
  cmd/orbctl/cmds/deploy.go
  cmd/orbctl/cmds/takeoff.go
  cmd/orbctl/configure.go
  cmd/orbctl/readsecret.go
  cmd/orbctl/root.go
  cmd/orbctl/takeoff.go
  cmd/orbctl/writesecret.go
  go.mod
  internal/api/boom/api.go
  internal/api/boom/v1/boom.go
  internal/api/networking/api.go
  internal/cmd/headed.go
  internal/ctrlcrd/boom/boom.go
  internal/ctrlcrd/networking/networking.go
  internal/ctrlgitops/orbiter.go
  internal/operator/boom/api/api.go
  internal/operator/boom/api/latest/funcs.go
  internal/operator/boom/api/latest/monitoring/admin/admin.go
  internal/operator/boom/api/latest/monitoring/auth/auth.go
  internal/operator/boom/api/latest/reconciling/auth/auth.go
  internal/operator/boom/api/migrate/v1beta2tov1.go
  internal/operator/boom/api/v1beta1/argocd/argocd.go
  internal/operator/boom/api/v1beta1/argocd/auth/auth.go
  internal/operator/boom/api/v1beta1/argocd/repository/repository.go
  internal/operator/boom/app/app.go
  internal/operator/boom/cmd/reconcile.go
  internal/operator/boom/gitcrd/gitcrd.go
  internal/operator/core/adapt.go
  internal/operator/networking/kinds/networking/legacycf/adapt.go
  internal/operator/networking/kinds/networking/legacycf/secrets.go
  internal/operator/networking/kinds/networking/networking.go
  internal/operator/networking/kinds/orb/adapt.go
  internal/operator/networking/takeoff.go
  internal/operator/orbiter/adapt.go
  internal/operator/orbiter/kinds/clusters/kubernetes/adapt.go
  internal/operator/orbiter/kinds/clusters/kubernetes/destroy.go
  internal/operator/orbiter/kinds/orb/adapt.go
  internal/operator/orbiter/kinds/providers/cs/adapt.go
  internal/operator/orbiter/kinds/providers/gce/adapt.go
  internal/operator/orbiter/kinds/providers/providers.go
  internal/operator/orbiter/kinds/providers/static/adapt.go
  internal/secret/operators/operators.go
  pkg/kubernetes/artifacts.go
  pkg/kubernetes/boom.go
  pkg/kubernetes/cli/client.go
  pkg/kubernetes/client.go
  pkg/kubernetes/networking.go
  pkg/secret/rwsecret.go
  pkg/secret/secret.go
Labels: BOOM, KubernetesCluster, Networking Operator, ORBITER, bug, enhancement

#669 Standard timeout handling
  internal/operator/networking/kinds/networking/legacycf/legacyadapter.go
  pkg/kubernetes/client.go
Labels: bug

#672 fix: don't rely on hostname dns for metrics server
  internal/operator/boom/application/applications/metricsserver/helm/default.go
Labels: BOOM, CloudscaleProvider, bug

#667 fix(grafana): delete unused grafana plugin
  internal/operator/boom/application/applications/grafana/helm/default.go
Labels: BOOM

#668 Stop writing Docker repo if installing Docker was successful
  internal/operator/nodeagent/dep/cri/ensure.go
  internal/operator/nodeagent/dep/k8s/common.go
  internal/operator/nodeagent/dep/nginx/dep.go
  internal/operator/nodeagent/dep/package-manager.go
Labels: Node Agent, bug

#671 fix: avoid nil pointer
  internal/operator/boom/application/applications/grafana/admin/admin.go
Labels: BOOM, bug
