Repository caos/orbos, pull requests merged in 2022-01, with the labels that each got.

#933 fix: reduce sentry environment changed events
  mntr/ingestion.go
Labels: bug

#601 docs(security): update policy
  SECURITY.md
Labels: documentation

#921 fix(merge): merge of different fixes for testing
  cmd/nodeagent/main.go
  go.mod
  go.sum
  internal/operator/boom/application/applications/kubemetricsexporter/helm/default.go
  internal/operator/boom/application/applications/logcollection/helm/default.go
  internal/operator/common/software.go
  internal/operator/networking/kinds/networking/core/current.go
  internal/operator/networking/kinds/networking/legacycf/app/dnsrecords.go
  internal/operator/networking/kinds/networking/legacycf/config/external.go
  internal/operator/nodeagent/dep/conv/converter.go
  internal/operator/nodeagent/dep/cri/dep.go
  internal/operator/nodeagent/dep/cri/ensure.go
  internal/operator/nodeagent/dep/health/dep.go
  internal/operator/nodeagent/dep/hostname/dep.go
  internal/operator/nodeagent/dep/k8s/kubeadm/dep.go
  internal/operator/nodeagent/dep/k8s/kubectl/dep.go
  internal/operator/nodeagent/dep/k8s/kubelet/dep.go
  internal/operator/nodeagent/dep/keepalived/dep.go
  internal/operator/nodeagent/dep/kernel/dep.go
  internal/operator/nodeagent/dep/middleware/logging.go
  internal/operator/nodeagent/dep/nginx/dep.go
  internal/operator/nodeagent/dep/package-manager-init.go
  internal/operator/nodeagent/dep/package-manager-install.go
  internal/operator/nodeagent/dep/package-manager-installed.go
  internal/operator/nodeagent/dep/package-manager-remove.go
  internal/operator/nodeagent/dep/package-manager.go
  internal/operator/nodeagent/dep/sshd/dep.go
  internal/operator/nodeagent/dep/swap/dep.go
  internal/operator/nodeagent/dep/sysctl/dep.go
  internal/operator/nodeagent/dep/system.go
  internal/operator/nodeagent/ensure.go
  internal/operator/nodeagent/firewall/centos/centOS.go
  internal/operator/nodeagent/firewall/centos/current.go
  internal/operator/nodeagent/firewall/centos/interfaces.go
  internal/operator/nodeagent/firewall/centos/masquerade.go
  internal/operator/nodeagent/firewall/centos/ports.go
  internal/operator/nodeagent/firewall/centos/sources.go
  internal/operator/nodeagent/firewall/centos/target.go
  internal/operator/orbiter/kinds/clusters/kubernetes/ensure.go
  internal/operator/orbiter/kinds/clusters/kubernetes/initialize.go
  internal/operator/orbiter/kinds/clusters/kubernetes/software.go
  internal/operator/orbiter/kinds/clusters/kubernetes/upgrade.go
  internal/operator/orbiter/kinds/providers/core/nodeagent.go
Labels: bug, enhancement

#891 fix(boom): change default limits for kube-state-metrics and logging-o…
  internal/operator/boom/application/applications/kubemetricsexporter/helm/default.go
  internal/operator/boom/application/applications/logcollection/helm/default.go
Labels: bug, BOOM, BOOM application

#908 fix: use deterministic command to determine last boot time
  internal/operator/nodeagent/ensure.go
Labels: bug, Node Agent

#915 fix(networking): change handling of txt records
  internal/operator/networking/kinds/networking/legacycf/app/dnsrecords.go
Labels: bug, Networking Operator

#937 Spring Cleaning
  cmd/gen-crds/main.go
  cmd/networking-debug/main.go
  cmd/orbctl/api.go
  cmd/orbctl/cmds/takeoff.go
  cmd/orbctl/configure.go
  cmd/orbctl/edit.go
  cmd/orbctl/exec.go
  cmd/orbctl/list.go
  cmd/orbctl/machines.go
  cmd/orbctl/patch.go
  cmd/orbctl/print.go
  cmd/orbctl/readsecret.go
  cmd/orbctl/reboot.go
  cmd/orbctl/replace.go
  cmd/orbctl/root.go
  cmd/orbctl/start.go
  cmd/orbctl/takeoff.go
  cmd/orbctl/teardown.go
  cmd/orbctl/writesecret.go
  cmd/takeoff-debug/main.go
  go.mod
  internal/operator/common/nodeagent-model.go
  internal/operator/core/adapt.go
  internal/operator/nodeagent/dep/cri/dep.go
  internal/operator/nodeagent/dep/cri/ensure.go
  internal/operator/nodeagent/dep/health/dep.go
  internal/operator/nodeagent/dep/hostname/dep.go
  internal/operator/nodeagent/dep/k8s/common.go
  internal/operator/nodeagent/dep/k8s/kubeadm/dep.go
  internal/operator/nodeagent/dep/k8s/kubectl/dep.go
  internal/operator/nodeagent/dep/k8s/kubelet/dep.go
  internal/operator/nodeagent/dep/keepalived/dep.go
  internal/operator/nodeagent/dep/kernel/dep.go
  internal/operator/nodeagent/dep/middleware/logging.go
  internal/operator/nodeagent/dep/nginx/dep.go
  internal/operator/nodeagent/dep/sshd/dep.go
  internal/operator/nodeagent/dep/swap/dep.go
  internal/operator/nodeagent/dep/sysctl/dep.go
  internal/operator/nodeagent/ensure.go
  internal/operator/orbiter/kinds/clusters/kubernetes/connect.go
  internal/operator/orbiter/kinds/clusters/kubernetes/join.go
  internal/operator/orbiter/kinds/providers/core/nodeagent.go
  internal/operator/orbiter/kinds/providers/cs/adapt.go
  internal/operator/orbiter/kinds/providers/gce/adapt.go
  internal/operator/orbiter/kinds/providers/static/desired.go
  internal/operator/orbiter/kinds/providers/static/ensure.go
  internal/operator/orbiter/takeoff.go
  mntr/monitor.go
  pkg/git/client.go
  pkg/kubernetes/artifacts.go
  pkg/kubernetes/cli/client.go
  pkg/kubernetes/client.go
  pkg/kubernetes/resources/adaptertesting/expect.go
  pkg/kubernetes/resources/adaptertesting/run.go
  pkg/kubernetes/resources/ambassador/host/adapt.go
  pkg/kubernetes/resources/ambassador/mapping/adapt.go
  pkg/kubernetes/resources/ambassador/mapping/adapt_test.go
  pkg/kubernetes/resources/funcs.go
  pkg/kubernetes/resources/ingress/adapt.go
  pkg/labels/component.go
Labels: bug, enhancement, ORBITER, GCEProvider, StaticProvider, Node Agent, CloudscaleProvider

#631 K8s client maintenance
  cmd/orbctl/api.go
  cmd/orbctl/configure.go
  cmd/takeoff-debug/main.go
  go.mod
  internal/operator/core/adapt.go
  internal/operator/orbiter/takeoff.go
  pkg/kubernetes/artifacts.go
  pkg/kubernetes/resources/adaptertesting/expect.go
  pkg/kubernetes/resources/adaptertesting/run.go
  pkg/kubernetes/resources/ambassador/host/adapt.go
  pkg/kubernetes/resources/ambassador/mapping/adapt.go
  pkg/kubernetes/resources/ambassador/mapping/adapt_test.go
  pkg/kubernetes/resources/funcs.go
  pkg/kubernetes/resources/ingress/adapt.go
  pkg/labels/component.go
Labels: design, KubernetesCluster

#702 fix: configure kubelet using kubeletExtraArgs section
  internal/operator/orbiter/kinds/clusters/kubernetes/join.go
Labels: bug, ORBITER, KubernetesCluster

#707 feat: add leaveosrepositories option
  internal/operator/common/nodeagent-model.go
  internal/operator/nodeagent/dep/cri/dep.go
  internal/operator/nodeagent/dep/cri/ensure.go
  internal/operator/nodeagent/dep/health/dep.go
  internal/operator/nodeagent/dep/hostname/dep.go
  internal/operator/nodeagent/dep/k8s/common.go
  internal/operator/nodeagent/dep/k8s/kubeadm/dep.go
  internal/operator/nodeagent/dep/k8s/kubectl/dep.go
  internal/operator/nodeagent/dep/k8s/kubelet/dep.go
  internal/operator/nodeagent/dep/keepalived/dep.go
  internal/operator/nodeagent/dep/kernel/dep.go
  internal/operator/nodeagent/dep/middleware/logging.go
  internal/operator/nodeagent/dep/nginx/dep.go
  internal/operator/nodeagent/dep/sshd/dep.go
  internal/operator/nodeagent/dep/swap/dep.go
  internal/operator/nodeagent/dep/sysctl/dep.go
  internal/operator/nodeagent/ensure.go
  internal/operator/orbiter/kinds/providers/static/desired.go
  internal/operator/orbiter/kinds/providers/static/ensure.go
Labels: enhancement, ORBITER, StaticProvider, Node Agent

#711 fix: don't fail when initially configuring gce or cs provider
  internal/operator/orbiter/kinds/providers/cs/adapt.go
  internal/operator/orbiter/kinds/providers/gce/adapt.go
Labels: bug, ORBITER, GCEProvider, CloudscaleProvider

#793 fix: handle cli kubeconfig error more precisely
  cmd/networking-debug/main.go
  cmd/orbctl/api.go
  cmd/orbctl/cmds/takeoff.go
  cmd/orbctl/configure.go
  cmd/orbctl/edit.go
  cmd/orbctl/exec.go
  cmd/orbctl/list.go
  cmd/orbctl/machines.go
  cmd/orbctl/patch.go
  cmd/orbctl/print.go
  cmd/orbctl/readsecret.go
  cmd/orbctl/reboot.go
  cmd/orbctl/replace.go
  cmd/orbctl/root.go
  cmd/orbctl/start.go
  cmd/orbctl/takeoff.go
  cmd/orbctl/teardown.go
  cmd/orbctl/writesecret.go
  pkg/git/client.go
  pkg/kubernetes/cli/client.go
Labels: bug, design

#926 fix: by default, try in cluster cfg before local kubeconfig
  cmd/gen-crds/main.go
  cmd/orbctl/start.go
  internal/operator/orbiter/kinds/clusters/kubernetes/connect.go
  pkg/kubernetes/cli/client.go
  pkg/kubernetes/client.go
Labels: enhancement
